header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #b1adc4;
    .title{
        font-size: 50px;
        font-weight: bold;
        color:#b2104f;
    }
}
